:root {
  --flexoki-black:           #100F0F;
  --flexoki-paper:           #FFFCF0;

  --flexoki-50:              #F2F0E5;
  --flexoki-100:             #E6E4D9;
  --flexoki-150:             #DAD8CE;
  --flexoki-200:             #CECDC3;
  --flexoki-300:             #B7B5AC;
  --flexoki-400:             #9F9D96;
  --flexoki-500:             #878580;
  --flexoki-600:             #6F6E69;
  --flexoki-700:             #575653;
  --flexoki-800:             #403E3C;
  --flexoki-850:             #343331;
  --flexoki-900:             #282726;
  --flexoki-950:             #1C1B1A;

  --flexoki-red-50:          #FFE5E0;
  --flexoki-red-100:         #FFCEC4;
  --flexoki-red-150:         #FFB7AA;
  --flexoki-red-200:         #FEA091;
  --flexoki-red-300:         #EB7464;
  --flexoki-red-400:         #D14D41;
  --flexoki-red-500:         #C03F35;
  --flexoki-red-600:         #AF3029;
  --flexoki-red-700:         #932822;
  --flexoki-red-800:         #6D211B;
  --flexoki-red-850:         #571E18;
  --flexoki-red-900:         #401A15;
  --flexoki-red-950:         #291612;

  --flexoki-orange-50:       #FFE9DC;
  --flexoki-orange-100:      #FFD6BD;
  --flexoki-orange-150:      #FFC39F;
  --flexoki-orange-200:      #FFB183;
  --flexoki-orange-300:      #F08E52;
  --flexoki-orange-400:      #DA702C;
  --flexoki-orange-500:      #CB6121;
  --flexoki-orange-600:      #BC5215;
  --flexoki-orange-700:      #9D4310;
  --flexoki-orange-800:      #733310;
  --flexoki-orange-850:      #5B2A10;
  --flexoki-orange-900:      #432210;
  --flexoki-orange-950:      #2B1910;

  --flexoki-yellow-50:       #FEF0D9;
  --flexoki-yellow-100:      #FDE4B8;
  --flexoki-yellow-150:      #F9D899;
  --flexoki-yellow-200:      #F3CD7C;
  --flexoki-yellow-300:      #E3B647;
  --flexoki-yellow-400:      #D0A215;
  --flexoki-yellow-500:      #BE920B;
  --flexoki-yellow-600:      #AD8301;
  --flexoki-yellow-700:      #8F6B00;
  --flexoki-yellow-800:      #684E08;
  --flexoki-yellow-850:      #523E0D;
  --flexoki-yellow-900:      #3D2E0F;
  --flexoki-yellow-950:      #271F10;

  --flexoki-green-50:        #EFF1DE;
  --flexoki-green-100:       #E0E5C1;
  --flexoki-green-150:       #D1D8A6;
  --flexoki-green-200:       #C1CB8C;
  --flexoki-green-300:       #A3B25D;
  --flexoki-green-400:       #879A39;
  --flexoki-green-500:       #778D25;
  --flexoki-green-600:       #66800B;
  --flexoki-green-700:       #546A08;
  --flexoki-green-800:       #3F4E0C;
  --flexoki-green-850:       #333E0F;
  --flexoki-green-900:       #282F10;
  --flexoki-green-950:       #1D1F10;

  --flexoki-cyan-50:         #E2F3F1;
  --flexoki-cyan-100:        #C9EAE5;
  --flexoki-cyan-150:        #AFE0D9;
  --flexoki-cyan-200:        #96D5CD;
  --flexoki-cyan-300:        #66BFB5;
  --flexoki-cyan-400:        #3AA99F;
  --flexoki-cyan-500:        #2F968D;
  --flexoki-cyan-600:        #24837B;
  --flexoki-cyan-700:        #1C6C66;
  --flexoki-cyan-800:        #1A4F4B;
  --flexoki-cyan-850:        #19403C;
  --flexoki-cyan-900:        #18302D;
  --flexoki-cyan-950:        #15201F;

  --flexoki-blue-50:         #E5EDF9;
  --flexoki-blue-100:        #CEDEF5;
  --flexoki-blue-150:        #B6CFEF;
  --flexoki-blue-200:        #9EBFE7;
  --flexoki-blue-300:        #6FA1D4;
  --flexoki-blue-400:        #4385BE;
  --flexoki-blue-500:        #3072B2;
  --flexoki-blue-600:        #205EA6;
  --flexoki-blue-700:        #1B4E8B;
  --flexoki-blue-800:        #1C3B66;
  --flexoki-blue-850:        #1C3051;
  --flexoki-blue-900:        #1A253B;
  --flexoki-blue-950:        #161B26;

  --flexoki-purple-50:       #EFECFB;
  --flexoki-purple-100:      #E2DBF7;
  --flexoki-purple-150:      #D4CAF3;
  --flexoki-purple-200:      #C5BAEC;
  --flexoki-purple-300:      #A79ADC;
  --flexoki-purple-400:      #8B7EC8;
  --flexoki-purple-500:      #745FB3;
  --flexoki-purple-600:      #5E409D;
  --flexoki-purple-700:      #4F3684;
  --flexoki-purple-800:      #3D2A62;
  --flexoki-purple-850:      #32244E;
  --flexoki-purple-900:      #281D39;
  --flexoki-purple-950:      #1C1725;

  --flexoki-magenta-50:      #FEE7F1;
  --flexoki-magenta-100:     #FDD2E5;
  --flexoki-magenta-150:     #FABDD8;
  --flexoki-magenta-200:     #F5A8CB;
  --flexoki-magenta-300:     #E480B1;
  --flexoki-magenta-400:     #CE5D97;
  --flexoki-magenta-500:     #B74683;
  --flexoki-magenta-600:     #A02F6F;
  --flexoki-magenta-700:     #86275D;
  --flexoki-magenta-800:     #632145;
  --flexoki-magenta-850:     #4F1E38;
  --flexoki-magenta-900:     #3B1A2B;
  --flexoki-magenta-950:     #26161D;

}